.carousel {
  position: relative;
  display: flex;
  color: #fff;
  flex-grow: 1;
  flex-direction: column;
  height: 100%;

  &__container {
    width: 100%;
    height: 100%;
    flex-grow: 1;

    .slick-list {
      height: 100%;
    }

    .slick-track {
      height: 100%;
    }

    .slick-slide {
      outline: none;
    }
  }

  &__slide-wrap {
    display: flex;
    flex-direction: column;
    @include respond-to(md) {
      display: flex;
      flex-direction: row;
    }
  }

  &__slide {
    padding: 50px;
    height: 100%;
    outline: none;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 80% 50%;

    @include respond-to(sm) {
      background-position: center center;
    }
  }

  &__wrap {
    position: relative;
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .heading--sm,
  .heading--xxs,
  .btn-secondary {
    color: inherit;
    display: block;
  }

  .heading--body {
    margin-bottom: 15px;
    color: #fff;
    max-width: 650px;

    @include respond-to(sm) {
      margin-bottom: 35px;
    }
  }

  .heading--md {
    margin-bottom: 5px;
    color: #fff;

    @include respond-to(sm) {
      margin-bottom: 30px;
    }
  }

  .heading--xxs:first-child {
    margin-bottom: 5px;
    @include respond-to(sm) {
      margin-bottom: auto;
    }
  }

  .heading--sm {
    margin-bottom: 15px;
  }

  .btn-secondary {
    margin-top: 45px;
    display: flex;

    @include respond-to(sm) {
      margin-top: auto;
    }
    @include respond-to(lg) {
      margin-top: 45px;
    }
  }

  &__dots {
    position: absolute;
    top: 50px;
    left: 50px;
    z-index: 15;

    ul {
      list-style: none;
      display: flex;
      align-items: center;
    }

    li {
      display: flex;
      align-items: center;
      justify-content: center;
      &:not(:last-child) {
        margin-right: 5px;
      }
    }

    button {
      width: 8px;
      height: 8px;
      font-size: 0;
      border-radius: 50%;
      background: none;
      outline: none;
      border: 1px solid #fff;
      cursor: pointer;
    }

    .slick-active button {
      background: #fff;
    }
  }

  &__arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0;
    outline: none;
    border: none;
    background: none;
    cursor: pointer;

    &:hover,
    &:focus {
      opacity: 0.7;
    }

    svg {
      width: 16px;
      height: 25px;
      fill: #fff;
    }

    &--prev {
      left: 20px;

      svg {
        transform: rotate(180deg);
      }
    }

    &--next {
      right: 20px;
    }
  }
}

.awards-carousel {
  width: 100%;
}

.active .slide {
  visibility: hidden;
  transition: left .6s ease-out;
}

.slide {
  height: 100%;
  padding: 50px;
}

.active .slide.current {
  visibility: visible;
  left: 0;
}

.active .slide.next {
  left: 100%;
}

.slide.prev {
  display: none;
}

.active .slide.next.in-transition,
.active .slide.prev.in-transition {
  visibility:visible;
}

.slidenav {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  list-style-type: none;
  li {
    display: inline;
  }
}