.about {
  &__text-wrap,
  &__search-wrap {
    margin: 0 auto;
    max-width: 950px;
    text-align: center;
    .heading--md {
      margin-bottom: 20px;
      color: $mid-blue;

      @include respond-to(sm) {
        margin-bottom: 10px;
      }
    }
  }

  &__text-wrap {
    padding: 40px 15px;
    max-width: 650px;
  }

  &__container {
    color: #fff;
    @include respond-to(sm) {
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__block {
    position: relative;
    padding: 25px 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    overflow: hidden;

    @include respond-to(sm) {
      width: 50%;
    }
    @include respond-to(lg) {
      width: 33.33%;
    }

    @include respond-to(xxl) {
      height: 450px;
    }

    h3 {
      position: absolute;
      top: 130px;
      left: 30px;
      z-index: 5;
      // margin-top: 43px;
      font-size: 2.2rem;
      font-weight: 700;

      @include respond-to(xxl) {
        margin-top: 100px;
      }
    }

    .btn-secondary {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 30px;
      z-index: 5;

      // &::before {
      //   position: absolute;
      //   top: 0;
      //   right: 0;
      //   left: 0;
      //   bottom: 0;
      //   display: block;
      //   // background: var(--color, $light-blue);
      //   content: '';
      //   z-index: -1;
      //   @include transition;
      // }

      @include respond-to(lg) {
        // &::before {
        //   transform: translateY(100%);
        // }

        &:hover,
        &:focus {
          opacity: 1;
          &::before,
          .about__btn-bg {
            transform: translate(0);
          }
        }
      }
    }
  }

  &__logo {
    height: 70px;
    width: auto;
    z-index: 5;
  }

  &__btn-bg {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    z-index: -1;
    transition: all 0.2s ease-in;

    @include respond-to(lg) {
      transform: translateY(100%);
    }
  }

  &__search-wrap {
    padding: 60px 15px;
    font-size: 2.2rem;

    @include respond-to(sm) {
      padding: 100px 15px;
    }

    .heading--md {
      margin-bottom: 30px;
      color: $mid-blue;

      @include respond-to(sm) {
        margin-bottom: 10px;
      }
    }

    .btn {
      margin-top: 40px;
    }
  }
}
