
$text-font-stack: 'Barlow', 'Arial', sans-serif !default;

$text-color: #020202 !default;

$brand-color: rgb(229, 0, 80) !default;

$light-blue: #00b1eb !default;

$mid-blue: #336699 !default;


$orange-color: #f68000 !default;

$dark-green: #186a5d !default;

$light-green: #87bb05 !default;


$red-color: #f52b64 !default;

$purple-color: #620067 !default;

$light-grey: #d9d9d9 !default;


$max-width: 1170px !default;

$breakpoints: (
    'sm': only screen and ( min-width: 768px ),
    'md': only screen and ( min-width: 1024px ),
    'lg': only screen and ( min-width: 1280px ),
    'xl': only screen and ( min-width: 1440px ),
    'xxl': only screen and ( min-width: 1920px )
) !default;

$base-url: '/assets/' !default;
