/** IE Specific Styles */

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .search_contain {

    &__container#js-show-map {
      .search_contain__item {
        display: block;
      }
    }

  }

  .accordion__btn {
    justify-content: flex-start;

    .btn-plus {
      margin-left: auto;
    }
  }
}